<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-image-folder" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>App</name>
<js-module name="App" src="www/App.js">
<clobbers target="cordova.plugins.App" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="ImageFolder">
	<param name="android-package" value="cordova.plugin.image.folder.App" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml">
</config-file>
<source-file src="src/android/App.java" target-dir="src/cordova-plugin-image-folder/App" /></platform>
</plugin>
